<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>692144665970-eg0qrf37m0n9ti3omibnsmbh1vfqsdd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.692144665970-eg0qrf37m0n9ti3omibnsmbh1vfqsdd2</string>
	<key>API_KEY</key>
	<string>AIzaSyBA7V_UUNLj50d-cP82TGW_QdHV7UvyBqk</string>
	<key>GCM_SENDER_ID</key>
	<string>692144665970</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emkmmksdfghj.firebase-deneme-2</string>
	<key>PROJECT_ID</key>
	<string>mertapp-73da2</string>
	<key>STORAGE_BUCKET</key>
	<string>mertapp-73da2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:692144665970:ios:aedc6c6499d8d22f3819eb</string>
</dict>
</plist>